<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="AuthHost" value="http://192.168.0.22:8095/services/"/>
    <add key="IntegrationServiceHost" value="http://192.168.0.22:8096/services/"/>
    <add key="BookServiceHost" value="http://192.168.0.22:8097/services/"/>
    <add key="ProviderServiceHost" value="http://192.168.0.22:8098/services/"/>
    <add key="TypeConfigurationAssembly" value="SenseFramework.Data.EntityFramework.dll;Library.Data.dll"/>
    <add key="SchemaName" value="dbo"/>
    <add key="TablePrefix" value="XXX"/>
    <add key="MigrationEnabled" value="false"/>
    <add key="UploadFile" value="E:\Uploads"/>
  </appSettings>
  <connectionStrings>
    <add name="Context" connectionString="Data Source=SERVER-PC\SQLEXPRESS;Initial Catalog=LibraryDB;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
