<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_AuthService">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_BookService">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IntegrationService">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_ItemProviderService">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.0.22:8095/services/authentication"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_AuthService"
        contract="AuthenticationServices.AuthService" name="WSHttpBinding_AuthService" />
      <endpoint address="http://192.168.0.22:8097/services/books" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_BookService" contract="BookServices.BookService"
        name="WSHttpBinding_BookService" />
      <endpoint address="http://192.168.0.22:8096/services/integration"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IntegrationService"
        contract="IntegrationServices.IntegrationService" name="WSHttpBinding_IntegrationService" />
      <endpoint address="http://192.168.0.22:8098/services/provider"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ItemProviderService"
        contract="ItemProviderServices.ItemProviderService" name="WSHttpBinding_ItemProviderService" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
