<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="AuthHost" value="http://192.168.0.22:8095/services/"/>
    <add key="IntegrationServiceHost" value="http://192.168.0.22:8096/services/"/>
    <add key="BookServiceHost" value="http://192.168.0.22:8097/services/"/>
    <add key="ProviderServiceHost" value="http://192.168.0.22:8098/services/"/>
  </appSettings>
</configuration>
